<launch>
  <arg name="use_rviz" default="true"/>

  <!--<rosparam param="control_point" > [3, 2, 4.792, 1.37, 6.963, 3.945, 10.837, 8.657, 7.546, 6.879, 0.357, 0.477, 0, 0]</rosparam>
  <rosparam param="knot_vector" > [0, 0, 0, 0.204, 0.381, 0.550, 0.755, 1, 1, 1]</rosparam>-->
  <rosparam param="control_point" > [0, 0, 0, 2.5, 5, 2.5, 5, 0, 5, -2.5, 0, -2.5, 0, 0]</rosparam>
  <rosparam param="knot_vector" > [0, 0, 0, 0.25, 0.5, 0.5, 0.75, 1, 1, 1]</rosparam>
  <rosparam param="weight_vector" > [1, 0.5, 0.5, 1, 0.5, 0.5, 1]</rosparam>

  <!-- path viewer -->
  <node pkg="agv_path_smoothing" name="path_viewer_spline" type="path_viewer_spline" output="screen">
  </node>

  <!-- rviz -->
  <group if="$(arg use_rviz)"> 
    <node pkg="rviz" type="rviz" name="rviz" required="true"
          args="-d $(find agv_path_smoothing)/rviz/path_viewer_spline.rviz"/>
  </group>

</launch>